@{
    ViewBag.Title = "About";
}
<br />
<form method="get">

    <fieldset>
        Seçim Yapınız : <select id="MovieType" name="MovieType" class="form-group">

            <option value="0">Action</option>

            <option value="1">Drama</option>

            <option selected="selected" value="2">Comedy</option>

            <option value="3">Science Fiction</option>

            <option value="3">Science Fiction</option>

            <option value="3">Science Fiction</option>

        </select>

    </fieldset>

</form>

